<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    {{>header}}
    <div class="main-content">
        <h1>{{title}}</h1>
        <h2>What is this site?</h2>
        <p>This site is intended to be a showcase 
            of knowledge using technologies such as NodeJs, 
            Express, Handlebars, as well as working with 
            different APIs to create an application. This 
            site uses two different APIs (one for weather 
            data and one to convert a location name into 
            coordinates)

            The front-end consist of pure HTML and CSS 
            and client side JavaScript</p>  
    </div>
   
    {{>footer}}
</body>
</html>